
/*
 * Full-page application style
 */
 /*make jumbotron full width*/
#jumbotron{
  background: #969696;
  background-image: url(../styles/images/purple_squares_texture-wallpaper-1152x720.jpg);
  font-family: 'Gotham Rounded SSm A', 'Gotham Rounded SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 50px 120px 0;
  margin-left:0px;
  margin-right:0px;
  width: 100%;
  height: 250px;
  color: #f2f2f2;
}
body{
  background-image: url(../styles/images/4268fce8.png);
}

div.application,
.keen-dashboard {
  /*background: #f2f2f2;*/
  font-family: 'Gotham Rounded SSm A', 'Gotham Rounded SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 60px 20px 0;

}

div.application > .container-fluid,
.keen-dashboard > .container-fluid {
  margin: 0 0 32px;
  margin: 0 0 2rem;
  padding-left: 0;
  padding-right: 0;

}

div.application div[class^="col-"],
.keen-dashboard div[class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}

div.application div[class^="col-"] div[class^="col-"],
.keen-dashboard div[class^="col-"] div[class^="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}

div.application hr,
.keen-dashboard hr {
  border-color: #d7d7d7;
  margin: 10px 0;
}

div.application .navbar-inverse,
.keen-dashboard .navbar-inverse {
  background-color: #3d4a57;
  border-color: #333;
}

div.application .navbar-inverse .navbar-nav > li > a,
div.application .navbar .navbar-brand,
.keen-dashboard .navbar-inverse .navbar-nav > li > a,
.keen-dashboard .navbar .navbar-brand {
  color: #fbfbfb;
  text-decoration: none;
}

div.application .main-nav > li > a:hover,
.keen-dashboard .main-nav > li > a:hover {
  border-bottom: 2px solid transparent;
  -webkit-transition: border 300ms ease;
  -o-transition: border 300ms ease;
  transition: border 300ms ease;
  border-bottom-color: white;
}

div.application .return-link,
div.application .return-link:focus,
div.application .return-link:hover,
.keen-dashboard .return-link,
.keen-dashboard .return-link:focus,
.keen-dashboard .return-link:hover {
  text-decoration: none;
}


.chart-wrapper {
  background: #fff;
  border: 1px solid #969696;
  border-radius: 1px;
  margin-bottom: 10px;
  opacity: 1.0;
}
.chart-wrapper .chart-title {
  border-bottom: 1px solid #969696;
  color: #666;
  font-size: 14px;
  font-weight: 200;
  padding: 7px 10px 4px;
}

.chart-wrapper .chart-stage {
  /*overflow: hidden;*/
  padding: 5px 10px;
  position: relative;
}

.chart-wrapper .chart-notes {
  background: #fbfbfb;
  border-top: 1px solid #969696;
  color: #808080;
  font-size: 12px;
  padding: 8px 10px 5px;
}
